body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    background-color: #31493C ;
}

#calculator{
    height: 400px;
    width: 300px;
    background-color: #001A23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}
.display{
    height:80px;
    width: 270px;
    border-radius: 10px;
    background-color:#E8F1F2;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    overflow: hidden;
}
.controls{
    display: flex;
    height: 250px;
    width: 270px;
    user-select: none;
    background-color: #B3EFB2;
}
.number:hover , .operator:hover , .number-functions:hover {
    color:#7A9E7E;
 }
.number , .number-functions{
    width: 65.5px;
    border: 1px solid black;
    height: 60.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-pad{
    display: flex;
    flex-wrap: wrap;
    width: 202.5px;
}
.operator-pad{
    width: 67.5px;
    display: flex;
    flex-wrap: wrap;
}
.operator{
    width: 67.5px;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
#display-content{
    font-size: 37px;
}